@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Sedgwick+Ave+Display&display=swap');

body {
    background-image: url(/public/images/montainscape.png);
    background-color: rgb(40, 66, 82);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

.container {
padding: 40px;
}


.quote-container p {
    font-size: clamp(23px, 4vw, 26px);
    font-weight: 700;
}

.quote-container q {
    font-size: 105%;
}

.carousel-container {
    padding: 15px;
}

.grid-container {
background-color: cyan;

}

.grid-container h2 {
    color: rgb(65, 55, 55);
}

.grid-container p {
    color: black;
}

footer {
    background-color: black;
    color: cyan;
}


